<p id="notice"><%= notice %></p>

<h1>Πιάτα ημέρας</h1>

<div class="row">
  <% @dishes.each do |dish| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag dish.image_url %>
        <div class="caption">
          <h3><%= dish.name %></h3>
          <h2><%= dish.price %>€</h2>
          <p><%= link_to 'Επεξεργασία', edit_dish_path(dish), {:class=>"btn btn-primary"} %>
            <%= link_to 'Διαγραφή', dish, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
  <% end %>

  <%= link_to 'Νέο πιάτο', new_dish_path, class: "btn btn-default"  %>

</div>
